%h4.restaurant_header
  %span.restaurant_name
    = lunch.restaurant.name
  %span.restaurant_votes
    - [lunch.votes, 5].min.times do
      %i.fa.fa-star
    - unless session[:votes].include?(lunch.id.to_s) || lunch.votes > 4
      = link_to vote_lunch_path(lunch), :method => :post, :remote => true do
        %i.fa.fa-star-o

- unless lunch.lunch_items.empty?
  %ul
    - lunch.lunch_items.each do |lunch_item|
      %li
        = lunch_item.description