.restaurant_name
  %h4
    = link_to vote_lunch_path(lunch), :class => 'btn btn-info', :method => :post, :remote => true do
      = lunch.restaurant.name
      = lunch.votes
      x
      %i.icon-heart
%ul
  = lunch.description.html_safe