/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header.jumbotron {
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 2px 2px #888;
    background-color: #ebebeb;
}

header.jumbotron h1 {
    font-family: "Mr Dafoe",sans-serif;
    font-weight: normal;
    font-size: 125px;
}

header.jumbotron h4 {
    font-family: "Roboto Slab",sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

#flash-error {
    text-align: center;
}

.blue {
    color: #008ED6;
}

.red {
    color: #F03335;
}

footer {
    background-color: #eeeeee;
    padding: 50px !important;
    margin-top: 30px;
    border-top: 1px solid #E5E5E5;
    font-family: "Roboto Slab",sans-serif;
    font-size: 20px;
}

#main {
    font-family: "Roboto Slab",sans-serif;
}