/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header.hero-unit {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 2px 2px #888;
}

header.hero-unit h1 {
    margin-left: 4%;
    padding-left: 15px;
    font-family: "Mr Dafoe",sans-serif;
    font-weight: normal;
}

header.hero-unit p {
    margin-left: 4%;
    padding-left: 15px;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 300;
    font-style: italic;
}

.blue {
    color: #008ED6;
}

.red {
    color: #F03335;
}

footer {
    background-color: #eeeeee;
    padding: 30px;
    margin-top: 30px;
    border-top: 1px solid #E5E5E5;
    font-family: "Roboto Condensed",sans-serif;
}

#main {
    font-family: "Roboto Condensed",sans-serif;
}