/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Header stuff */
header.jumbotron {
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #171717;
    border-bottom: 1px solid #c7d956;
}

header.jumbotron h1 {
    font-family: "Orbitron",sans-serif;
    font-weight: normal;
    font-size: 125px;
}

header.jumbotron.smaller h1 {
    font-family: "Orbitron",sans-serif;
    font-weight: normal;
    font-size: 65px;
}

header.jumbotron h4 {
    font-family: "Share Tech Mono",sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    color: #ff8700;
}

/* Generic content stuff */
#flash-error {
    text-align: center;
}

.blue {
    color: #35b8db;
}

.red {
    color: #e60041;
}

#main {
    font-family: "Orbitron",sans-serif;
    color: #5d5f4a;
}

/* Footer stuff */
footer {
    background-color: #171717;
    padding: 50px !important;
    margin-top: 30px;
    border-top: 1px solid #c7d956;
    font-family: "Share Tech Mono",sans-serif;
    font-size: 20px;
}

footer a {
    color: #45d0ee;
}
