// Place all the styles related to the lunches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Calendar */

// calendar wrapper
div.date {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: -125px;
}

// main cal stuff in the p element
p.calendar {
  margin: 0;
  padding-top: 5px;
  float: left;
  width: 80px;
  background: #eaebec;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaebec), to(#ccc));
  background: -moz-linear-gradient(top, #eaebec, #ccc);
  background: -ms-linear-gradient(top, #eaebec, #ccc);
  background: linear-gradient(to bottom, #eaebec, #ccc);
  font-weight: 300;
  font-size: 39px;
  line-height: 60px;
  text-align: center;
  color: #000;
  text-shadow: #fff 0 1px 0;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 2px 2px #888;
}

p.calendar span.month {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #fff;
  text-shadow: #008ED6 0 -1px 0;
  background: #01B6EF;
  background: -webkit-gradient(linear, left top, left bottom, from(#01B6EF), to(#008ED6));
  background: -moz-linear-gradient(top, #01B6EF, #008ED6);
  background: -ms-linear-gradient(top, #01B6EF, #008ED6);
  background: linear-gradient(to bottom, #01B6EF, #008ED6);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #008ED6;
}

p.calendar span.wday {
  display: block;
  line-height: 20px;
  margin-bottom: -10px;
  font-weight: 400;
  font-size: 11px;
  color: #000;
  text-shadow: #fff 0 1px 0;
}


/* Textual date representation */
.textdate {
  max-width: 600px;
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: center;
}

.textdate span {
  border-bottom: 2px dotted #555;
}

/* Row for single day of lunches */
div.day {
  margin-top: 30px;
  padding-top: 25px;
}

div.first_day {
  border-top: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Restaurant stuff */
.restaurant {
  max-width: 600px;
  padding-bottom: 15px;
  position: relative;
}

// lunch items in an ul
.restaurant ul {
  margin-left: 0;
  padding-left: 0;
}

.restaurant li {
  list-style: none;
  border-left: 3px solid #01B6EF;
  background: #f7f7f7;
  background: -webkit-gradient(linear, left center, right center, from(#f7f7f7), color-stop(50%, #ffffff), to(#ffffff));
  background: -moz-linear-gradient(left, #f7f7f7 0%, #ffffff 50%);
  background: -ms-linear-gradient(left, #f7f7f7 0%, #ffffff 50%);
  background: linear-gradient(to right, #f7f7f7 0%, #ffffff 50%);
  margin-bottom: 4px;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 4px;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto",sans-serif;
}

.restaurant_name {
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  margin-right: 3px;
}

.restaurant_votes {
  display: inline-block;
  font-size: 23px;
}

.restaurant_votes > * {
  letter-spacing: -2px;
}

.restaurant_votes a {
  text-decoration: none;
}

.restaurant_votes a:hover {
  text-decoration: none;
  color: #DD1144;
}

// stuff for restaurants without lunch lists
.non-desc-lunch {
  padding: 3px 0 3px 0;
}

.non-desc-lunch .restaurant_name {
  font-size: 20px;
  font-weight: 400;
}

.non-desc-lunch .restaurant_votes {
  font-size: 19px;
}

.non-desc-lunch .restaurant_header {
  margin-top: 1px;
  margin-bottom: 1px;
}

//statement
.statement {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}