// Place all the styles related to the lunches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Calendar */

// calendar wrapper
div.date {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: -125px;
}

// main cal stuff in the p element
p.calendar {
  margin: 0;
  padding-top: 5px;
  float: left;
  width: 80px;
  background: #2b2b22;
  font-weight: 300;
  font-size: 39px;
  line-height: 60px;
  text-align: center;
  color: #f6f7e4;
  border-radius: 3px;
  position: relative;
}

p.calendar span.month {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #ff8700;
  background: #7c7e77;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #ecf7ee;
}

p.calendar span.wday {
  display: block;
  line-height: 20px;
  margin-bottom: -10px;
  font-weight: 400;
  font-size: 11px;
  color: #c7d956;
}


/* Textual date representation */
.textdate {
  max-width: 600px;
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 5px;
  text-align: center;
}

.textdate span {
  border-bottom: 2px dotted #555;
}

/* Row for single day of lunches */
div.day {
  border-top: 1px solid #c7d956;
  margin-top: 30px;
  padding-top: 25px;
}

div.first_day {
  border-top: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Restaurant stuff */
.restaurant {
  max-width: 600px;
  padding-bottom: 15px;
  position: relative;
}

// lunch items in an ul
.restaurant ul {
  margin-left: 0;
  padding-left: 0;
}

.restaurant li {
  list-style: none;
  border-left: 3px solid #8ae500;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 4px;
  font-weight: 300;
  font-size: 18px;
  font-family: "Share Tech Mono",sans-serif;
  color: #45d0ee;
}

.restaurant_name {
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  margin-right: 3px;
  color: #f3005e;
}

.restaurant_votes {
  display: inline-block;
  font-size: 23px;
  color: #ff8700;
}

.restaurant_votes > * {
  letter-spacing: -2px;
}

.restaurant_votes a {
  text-decoration: none;
  color: #5d5f4a;
}

.restaurant_votes a:hover {
  text-decoration: none;
  color: #ff8700;
}

// stuff for restaurants without lunch lists
.non-desc-lunch {
  padding: 3px 0 3px 0;
}

.non-desc-lunch .restaurant_name {
  font-size: 20px;
  font-weight: 400;
}

.non-desc-lunch .restaurant_votes {
  font-size: 19px;
}

.non-desc-lunch .restaurant_header {
  margin-top: 1px;
  margin-bottom: 1px;
}
