!!! 5
%html
  %head
    %title Lepuskin lounaat
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header

    #main
      = yield

    %footer